<div class="lead-header">
  <div class="lead-title">
    <h3 class="title">Lead Management</h3>
    <span class="subtitle">Leads</span>
  </div>

  <div class="lead-actions">
    <label class="board-view">
      <input type="checkbox" />
      <span>Board View</span>
    </label>

    <button GridComponent class="btn export-btn" (click)="exportToExcel(gridref)" style="height: 38px;">
      <i class="fas fa-download"></i> Export to Excel
    </button>

    <button kendoButton class="btn create-btn">
      Create
    </button>


  </div>
</div>

<div class="green-border">
  <div class="k-form-row filter-bar">
    <div class="k-form-field-wrap">
      <kendo-dropdownlist #items [data]="listItems" [defaultItem]="'All Leads'"></kendo-dropdownlist>
    </div>
    <div class="k-form-field-wrap">
      <kendo-dropdownlist #preferences [data]="savedPreferences" [textField]="'name'" [valueField]="'id'"
        [defaultItem]="defaultPreference" (valueChange)="onPreferenceChange($event)">
      </kendo-dropdownlist>
    </div>
    <kendo-textbox #searchInput class="search-box" placeholder="Type Search Keyword" (valueChange)="onFilterr($event)"
      style="height: 40px;">
    </kendo-textbox>
    <button class="search-btn" type="button" (click)="onFilterr(searchInput.value)">
      <i class="fas fa-search"></i>
    </button>

    <!-- Wrap right side controls -->
    <div class="right-side-controls">
      <kendo-buttongroup>
        <button kendoButton [selected]="isNonIntl" (click)="onToggle('non')" class="toggle-btn"
          [ngClass]="{ 'active-btn': isNonIntl }">
          Non-Intl.
        </button>
        <button kendoButton [selected]="!isNonIntl" (click)="onToggle('intl')" class="toggle-btn"
          [ngClass]="{ 'active-btn': !isNonIntl }">
          Intl.
        </button>
      </kendo-buttongroup>
      <!-- <button kendoButton class="btn create-btn">Clear Filters</button> -->
      <button kendoButton class="btn create-btn" (click)="clearFilter()">Clear Filters</button>
      <button kendoButton class="btn create-btn">Bulk Edit</button>
      <button kendoButton class="btn create-btn" (click)="saveNewPreference()">Save Preferences</button>
      <button kendoButton class="icon-button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <br>

  <kendo-grid #gridref [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection"
    [editMode]="'incell'" [(editModel)]="editModel" (cellClose)="cellCloseHandler($event)"
    [selectable]="{ mode: 'multiple', drag: true }" [pageSize]="20" [pageable]="true" [sortable]="true"
    [groupable]="false" [reorderable]="true" [resizable]="true" [height]="500" [columnMenu]="{ filter: true }"
    (cellClick)="cellClickHandler($event)" (add)="addHandler()" [pageSize]="gridSettings.state.take"
    [skip]="gridSettings.state.skip" [sort]="gridSettings.state.sort" [filter]="gridSettings.state.filter"
    [group]="gridSettings.state.group" (dataStateChange)="dataStateChange($event)">

    <!-- <ng-template kendoGridToolbarTemplate>
      <div>
        <button kendoButton [disabled]="!formGroup?.valid" (click)="saveRow()">
          Save
        </button>
        <button kendoButton themeColor="primary" (click)="cancelHandler()">
          Cancel
        </button>
      </div>
    </ng-template> -->

    <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }"
      [resizable]="false" [columnMenu]="false" [showSelectAll]="true"></kendo-grid-checkbox-column>

    <kendo-grid-column field="action" title="Actions" [width]="220"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-dropdownbutton [data]="data" themeColor="success" class="custom-action-btn">
          <i class="fas fa-cog me-1"></i>Actions<i class="fas fa-angle-down"></i>
        </kendo-dropdownbutton>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="record_id" title="Record Id" [width]="220" [editable]="true"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="last_name" title="Last Name" [width]="100" [class]="{ 'text-center': true }"
      [editable]="true" [resizable]="false"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="first_name" title="First Name" [width]="100" [class]="{ 'text-center': true }"
      [editable]="true" [resizable]="false" filter="numeric"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="email" title="Primary Email Address" [width]="200" [class]="{ 'text-center': true }"
      [editable]="true" [resizable]="false" filter="boolean"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="phone" title="Primary Phone Type" [width]="210" [resizable]="false" filter="numeric"
      [editable]="true"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="lmp_lead_id" title="LMP Lead Id" [width]="120" filter="numeric" [editable]="true"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="appointment_type" title="Appointment Type" [width]="150" [editable]="true"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="booking_agency" title="Booking Agency" [width]="160" [editable]="true"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>

    <kendo-grid-column field="lead_stage" title="Lead Stage" [width]="150" [editable]="true" [headerStyle]="{
    'background-color': '#00205b',
    'color': 'white',
    'text-align': 'center',
    'font-weight': 'bold'
  }">

      <!-- Display Mode -->
      <ng-template kendoGridCellTemplate let-dataItem>
        <span [ngStyle]="{
      'background-color': getLeadStageColor(dataItem.lead_stage),
      'color': dataItem.lead_stage ? 'white' : '',
      'display': 'inline-block',
      'padding': '4px 8px',
      'border-radius': '4px',
      'width': '100%'
    }">
          {{ dataItem.lead_stage || 'Select' }}
        </span>
      </ng-template>

      <!-- Edit Mode -->
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <kendo-dropdownlist [data]="['Select', 'New', 'Contacted', 'Qualified', 'Converted', 'Lost']"
          [(ngModel)]="dataItem.lead_stage" [valuePrimitive]="true" [ngStyle]="{
        'background-color': getLeadStageColor(dataItem.lead_stage),
        'color': dataItem.lead_stage ? 'white' : ''
      }" style="width: 100%;">
        </kendo-dropdownlist>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="created_source" title="Created Source" [width]="200" filter="boolean" [editable]="true"
      [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-multi-check-filter [column]="column" [data]="['Mobile', 'Web']">
        </kendo-grid-multi-check-filter>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="assign_date" title="Assign Date" [width]="200" editor="date" filter="date"
      format="{0:dd-MM-yyyy}"  [headerStyle]="{ 'background-color': '#00205b', 'color': 'white', 'text-align': 'center', 'font-weight': 'bold' }">
    </kendo-grid-column>




    <kendo-grid-excel fileName="Leads.xlsx"></kendo-grid-excel>
  </kendo-grid>
</div>